<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<meta charset="UTF-8">
    <meta name = "keywords" content = "ios, xCode,Swift,Obj-c,Dev,Developer,Coder,Impulse,tryimpulse" />
    <meta name = "robots" content = "index,follow" />
    <meta name="description" content="Im iOS developer with experience with many different projects."/>
	<title>iOS Developer Impulse</title>
	<link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
	<div class="container">
<!--        <a class="btn" href="/blog">[Blog]</a>-->x4
		<div class="container-inner">
			<h1>{iOS Developer} <span>Impulse</span></h1>
			<nav>
				<li><a class="btn" href="https://github.com/impul">[GitHub]</a></li>
				<li><a class="btn" href="https://stackoverflow.com/users/6194525/Павло-Бойко">[StackOverflow]</a></li>
				<li><a class="btn" href="https://www.linkedin.com/in/impulse-ios/">[LinkedIn]</a></li>
                <li><a class="btn" href="skype:pavlo-dx?add">[Skype]</a></li>
                <li><a class="btn" href="mailto:pavlo.bojkoo@gmail.com">[Mail me]</a></li>
			</nav>
		</div>
	</div>
</body>
</html>
